@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&family=Noto+Sans+JP:wght@300&family=Plus+Jakarta+Sans:wght@200..800&family=Unbounded:wght@200..900&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");

[data-theme="dark"] {
  --background: rgb(0, 0, 0);
  --headback: rgb(20, 20, 20);
  --foreground: rgb(255, 255, 255);
  --taga: rgb(125, 181, 234);
  --background-secondary:rgb(17, 17, 17);
}
[data-theme="light"] {
  --background: rgb(255, 255, 255);
  --headback: rgb(245, 245, 245);
  --foreground: rgb(0, 0, 0);
  --taga: rgb(55, 128, 144);
  --background-secondary:rgb(242, 242, 242);
}
a {
  color: var(--taga);
  text-decoration: none;
}
body {
  margin: 0;
  margin-top: 75px;
  background-color: var(--background);

  font-family: "Plus Jakarta Sans", "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

h1 {
  font-weight: 700;
  font-style: normal;
  margin: auto 0px;
}
h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  margin: 60px auto 10px auto;
  border-bottom: solid 2px var(--foreground);
  padding: 8px 0;
}
h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  height: 25px;
  overflow: hidden;
  margin: 4px auto 10px 5px;
  letter-spacing: 1px;
}
h4 {
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
  margin: auto;
}
p,
li,
td,
th {
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin: 10px 0;
}
.work {
  width: calc(100% - 50px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work h2 {
  width: 100%;
  text-align: center;
  border: none;
}
.works {
  width: 400px;
  margin: 20px 8px;
}

.icon {
  margin: auto;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  margin-right: 8px;
}

.samune {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}
.subtitle {
  margin: auto 5px;
  display: flex;
  justify-content: space-between;
}
.works p {
  margin: auto 10px auto 0px;
}

.private {
  opacity: 0.5; /* 薄く表示する */
  /* 非公開作品をクリックできないようにする */
}
.id {
  color: #666666;
  font-size: 0.6rem;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999999;
  background-color: #e5e5e5;
  background-color: var(--headback);
}

.menu-items {
  width: 100%;
  height: 75px;
  display: flex;
  transition: all 0.5s;
}
.menu-items a {
  text-decoration: none;
  color: var(--foreground);
}
.title {
  width: 140px;
  line-height: 1.62rem;
  margin: auto 40px;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.3rem;
  letter-spacing: -1.8px;
  transition: all 0.5s;
}
.menubar {
  display: flex;
  transition: all 0.5s;
}
.menubars {
  margin: auto 20px;
  font-size: 0.7rem;
  line-height: 0.7rem;
}
.menubars .en {
  font-family: "Unbounded", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1.5rem;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* アニメーション用のスタイル */
.fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-exit-active {
  opacity: 0;
}
.menu-btn {
  display: none; /* Hide the menu button on desktop */
}

.menu-btn__burger {
  width: 40px;
  height: 4px;
  background-color: var(--foreground);
  margin: 6px 0;
  transition: 0.4s;
}

.open .menu-btn__burger:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.open .menu-btn__burger:nth-child(2) {
  opacity: 0;
}

.open .menu-btn__burger:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* theme-switcher.css */

/* スイッチの基本スタイル */
.custom-switch {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* スイッチが選択されている時 */
.custom-switch[data-state="checked"] {
  background-color: #4ade80; /* 緑色（選択時の背景色） */
  transform: scale(1.1); /* サイズを大きくする */
}

/* スイッチが選択されていない時 */
.custom-switch[data-state="unchecked"] {
  background-color: #e5e5e5; /* グレー（非選択時の背景色） */
}

/* スイッチのアイコンスタイル */
.custom-switch svg {
  width: 1.5rem; /* アイコンのサイズ */
  height: 1.5rem; /* アイコンのサイズ */
  fill: white; /* アイコンの色 */
}

/* ダークモード時のスタイル */
body.dark-mode .custom-switch[data-state="checked"] {
  background-color: #2563eb; /* ダークモードの背景色 */
}

/* ダークモード時のアイコンの色 */
body.dark-mode .custom-switch[data-state="unchecked"] svg {
  fill: #000; /* ダークモードのアイコン色 */
}

.status {
  display: flex;
  align-items: center;
  font-size: 0.6rem;
}
.insubtitle {
  display: flex;
}
.inunlisted,
.inprivate {
  opacity: 0.7;
  margin: auto;
  border: 1px solid var(--foreground);
  padding: 1px 5px;
  border-radius: 5px;
}
.subtitle p {
  margin: auto 0;
}
.sicon {
  margin-right: 5px;
}
@media screen and (max-width: 1315px) {
  .works {
    width: calc(33.333% - 16px);
  }
}
@media screen and (min-width: 1150px) {
  @media (min-aspect-ratio: 16 / 9) {
  }
}
@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 900px) {
  .justify-end {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 26px;
    right: 85px;
  }
  .menu-btn {
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    top: 20px;
    right: 20px;
  }
  .menu-btn__burger {
    width: 40px;
    height: 4px;
    background-color: var(--foreground);
    margin: 6px 0;
    transition: 0.4s;
  }

  .open .menu-btn__burger {
    background-color: var(--foreground);
  }
  .hamburger-menu {
    width: 100%;
    height: 75px;
    transition: all 0.5s;
    background-color: var(--headback);
  }
  .menu-btn {
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    top: 20px;
    right: 20px;
    width: auto;
    height: auto;
  }
  .title {
    margin: 10px 20px;
  }
  @media screen and (max-width: 700px) {
    .justify-end {
      display: block;
      position: fixed;
      z-index: 9999;
      top: 10px;
      right: 65px;
    }
    .hamburger-menu {
      height: 45px;
    }
    .menu-btn {
      top: 5px;
      right: 15px;
    }
    .title {
      width: 100%;
      font-size: 2rem;
      margin: 10px 20px;
    }
    .menu-btn__burger {
      width: 34px;
      height: 3px;
    }
  }
  .open {
    width: 100%;
    height: 100vh;
    height: 100svh;
    position: fixed;
    z-index: 9999;
  }

  .hea,
  .menubar {
    display: block;
    opacity: 0.3;
    width: 75%;
    height: auto;
  }
  .menu-items {
    flex-wrap: nowrap;
    width: 75%;
    position: absolute;
    background-color: var(--headback);
    opacity: 1;
    left: 0%;
    bottom: 0;
    flex-wrap: wrap-reverse;
  }
  .open .menu-items {
    width: 75%;
    height: auto;
    padding: 10px;
    left: 9.5%;
    background-color: var(--headback);
    opacity: 1;
  }
  .open .hea,
  .open .menubar {
    opacity: 1;
  }
  .menubar {
    flex-wrap: wrap;
  }
  .menubars {
    width: 100%;
    font-size: 4vw;
    line-height: 4vw;
    margin: 30px auto;
    z-index: 10;
  }
  .menubars .en {
    font-size: 16vw;
    line-height: 16vw;
  }

  .open .title {
    margin: auto 0px;
    transition: all 0.5s;
  }
  .works {
    width: calc(50% - 16px);
  }
}
@media screen and (max-width: 700px) {
  body {
    margin-top: 45px;
  }

  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    margin: 3px auto 6px 5px;
  }
  h4 {
    font-size: 1rem;
  }
  p,
  li,
  td,
  th {
    font-size: 0.7rem;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 500px) {
  .works {
    width: 100%;
  }
  .work {
    width: 94%;
  }
}
