@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.uback {
  z-index: -100;
  width: 500px;
  height: 100vh;
  height: 100svh;
  object-fit: cover;
  position: fixed;
  top: 75px;
  left: 0;
}
.first::before {
  content: "";
  background-color: var(--background);
  opacity: 0.4;
  position: fixed;
  width: 500px;
  height: 100vh;
  height: 100svh;
  top: 75px;
  left: 0;
  z-index: -99;
}
.first {
  height: min-content;
  padding: 100px 50px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-self: start;
}
.uicon {
  width: 200px;
  height: 200px;
  margin: 0 100px;
  border-radius: 50%;
}
.username {
  margin: auto;
  font-size: 0.6rem;
  letter-spacing: 0.3px;
  border: solid var(--foreground) 1px;
  border-radius: 20px;
  padding: 1px 5px;
}
.textblock {
  margin: auto;
  width: auto;
}
.textblock h2 {
  border: 0;
  padding: 0;
  margin: auto 0;
}
.textblock a {
  color: var(--foreground);
  margin-right: 10px;
  text-decoration: none;
}
.content {
  display: flex;
}
.uwork {
  width: calc(100% - 500px);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 1550px) {
}
@media screen and (max-width: 1230px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 800px) {
}
@media screen and (min-width: 1150px) {
  @media (min-aspect-ratio: 16 / 9) {
  }
}
