@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

	.work{
		width: 90%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.works{
		width: 24%;
	}

	.icon{
		width: 30px;
		height: 30px;
		border-radius: 20px;
	}
	.samune{
		width: 100%;
		aspect-ratio: 16/9;
		height: auto;
	}
	@media screen and (max-width:1550px) {

	}
	@media screen and (max-width:1230px) {

	}
	@media screen and (max-width:900px) {

	}
	@media screen and (max-width:800px) {

	}
	@media screen and (min-width: 1150px) {
		@media (min-aspect-ratio: 16 / 9){

	}	}